[submodule "ThirdParty/Kickstart"]
	path = ThirdParty/Kickstart
	url = https://github.com/OutOfOrder/MonoKickstart.git
[submodule "ThirdParty/Dependencies"]
	path = ThirdParty/Dependencies
	url = https://github.com/Mono-Game/MonoGame.Dependencies.git
[submodule "Magnesium"]
	path = Magnesium
	url = https://github.com/tgsstdio/Magnesium.git
	branch = master
[submodule "Examples/Samples"]
	path = Examples/Samples
	url = https://github.com/tgsstdio/MonoGame.Samples.git
	branch = develop
[submodule "FreeImageNET-PCL"]
	path = FreeImageNET-PCL
	url = ../FreeImageNET-PCL
